In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import colorsys

In [2]:
df = pd.read_excel("../Dados/Coronavirus Brasil.xlsx")

In [3]:
df.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125,1,0,0,0,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125,1,0,0,0,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125,1,0,0,0,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125,2,1,0,0,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-01,10,210147125,2,0,0,0,NaN,NaN

In [4]:
df.describe()

,coduf,codmun,codRegiaoSaude,semanaEpi,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos
count,151279.000000,148960.000000,148201.000000,151279.000000,151279.000000,151279.000000,151279.000000,151279.000000,46.000000,46.000000
mean,31.216051,313516.904585,31233.354984,19.763794,211.499977,11.538555,13.264888,0.650817,91771.673913,117782.804348
std,9.779300,96915.330094,9670.535679,2.420634,5102.623331,265.409915,321.507576,14.210504,64328.454310,89093.603522
min,11.000000,110000.000000,11001.000000,9.000000,1.000000,0.000000,0.000000,0.000000,22130.000000,14062.000000
25%,24.000000,240870.000000,24005.000000,18.000000,2.000000,0.000000,0.000000,0.000000,36461.000000,44463.250000
50%,31.000000,313460.000000,31037.000000,20.000000,5.000000,0.000000,0.000000,0.000000,69990.500000,91011.000000
75%,41.000000,355730.000000,41001.000000,22.000000,20.000000,1.000000,1.000000,0.000000,140797.750000,180701.500000
max,76.000000,530010.000000,53001.000000,23.000000,584016.000000,33274.000000,32548.000000,1349.000000,238617.000000,312851.000000

In [5]:
list(df)

['regiao',
 'estado',
 'municipio',
 'coduf',
 'codmun',
 'codRegiaoSaude',
 'nomeRegiaoSaude',
 'data',
 'semanaEpi',
 'populacaoTCU2019',
 'casosAcumulado',
 'casosNovos',
 'obitosAcumulado',
 'obitosNovos',
 'Recuperadosnovos',
 'emAcompanhamentoNovos']

In [6]:
len(df)

151279

In [7]:
len(df[df.estado == 'PI'].municipio.unique())

165